<div class="calendar-container">
    <calendar></calendar>
    <div class="explanation_container">
    <div class="explanation">
        <h1 class="my_name">Ignacio Borello</h1>
        <h2 class="my_name">Coding Challenge</h2>
        <p><b>Assignment : </b>The goal of this exercise is to create a demo calendar application using React, Vue or <b>Angular</b>.</p>
        <p><b>My Approach : </b><a href="https://momentjs.com/">moment.js</a> was my library of choise for Date managing and no UI library was used to manage the precise behaviour of each component. </p>
        <p>Forecast is only available for reminders no loger than 5 days apart from the current because of FREE user limitation for <a href="https://openweathermap.org/">OpenWeather</a>.</p>
        <p>Reminders are stored on the browser local storage in separate lists by month.</p>
        <p><b>Bonus tasks completed : </b></p>
        <div class="tasks">
            <div class="task">
                <span class="material-icons">check_box</span>
                <p>Expand the calendar to support more than the current month.</p>
            </div>
            <div class="task">
                <span class="material-icons">check_box</span>
                <p>Properly handle overflow when multiple reminders appear on the same date</p>
            </div>
            <div class="task">
                <span class="material-icons">check_box</span>
                <p>Functionality to delete one or ALL the reminders for a specific day.</p>
            </div>
        </div>
    </div>
    </div>
</div>