<form [formGroup]="reminder_form">
    <div class="reminder-detail__container">
        <div class="reminder-detail__actions" [ngClass]="reminder_form.value.color">
            <div class="reminder-detail__color-selector" *ngIf="edition">
                <span class="reminder-detail__color-selector-label material-icons">palette</span>
                <color-selector formControlName="color"></color-selector>
            </div>
            <span class="reminder-detail__action material-icons" *ngIf="!edition" (click)="action_edit()">edit</span>
            <span class="reminder-detail__action material-icons" [class.disabled]="reminder_form.invalid" *ngIf="edition" (click)="!reminder_form.invalid && action_save()">save</span>
            <span class="reminder-detail__action material-icons" *ngIf="reminder" (click)="action_delete()">delete</span>
            <span class="reminder-detail__action material-icons" (click)="action_close()">clear</span>
        </div>
        <div class="reminder-detail__content">
            <div class="reminder-detail__property">
                <span class="reminder-detail__property-label" [class.error]="reminder_form.controls.text.invalid && reminder_form.controls.text.touched"><span class="material-icons">comment</span></span>
                <ng-container *ngIf="!edition">
                    <span>{{reminder_form.value.text}}</span>
                </ng-container>
                <ng-container *ngIf="edition">
                    <input type="text" formControlName="text" placeholder="reminder" class="reminder-detail__property-input" [class.error]="reminder_form.controls.text.invalid && reminder_form.controls.text.touched">
                </ng-container>
            </div>
            <div class="reminder-detail__property">
                <span class="reminder-detail__property-label" [class.error]="reminder_form.controls.date.invalid && reminder_form.controls.date.touched"><span class="material-icons">schedule</span></span>
                <ng-container *ngIf="!edition">
                    <span>{{reminder_form.value.date | date:"MM-dd-yyyy HH:mm"}}</span>
                </ng-container>
                <ng-container *ngIf="edition">
                    <date-time formControlName="date"></date-time>
                    <!-- <input type="text" formControlName="date"> -->
                </ng-container>
            </div>
            <div class="reminder-detail__property">
                <span class="reminder-detail__property-label" [class.error]="reminder_form.controls.city.invalid && reminder_form.controls.city.touched"><span class="material-icons">place</span></span>
                <ng-container *ngIf="!edition">
                    <span>{{reminder_form.value.city?.name}} {{reminder_form.value.city?.country}}</span>
                </ng-container>
                <ng-container *ngIf="edition">
                    <country-finder type="text" formControlName="city"></country-finder>
                </ng-container>
            </div>
        </div>

        <div class="reminder-detail__weather" [class.no_forecast]="!forecast_available">
            <ng-container *ngIf="forecast_available && forecast">
                <div class="reminder-detail__weather-conditions">
                    <img class="image" [src]="'http://openweathermap.org/img/wn/'+forecast?.weather[0]?.icon+'@2x.png'" alt="">
                    <span class="condition">{{forecast.weather[0].main}}</span>
                </div>
                <div class="reminder-detail__weather-temperature">
                    <span class="temperature">{{forecast.main.temp | number:'1.1-1'}}</span>
                    <span class="unit">&#176;F</span>
                </div>
            </ng-container>
            <ng-container *ngIf="!forecast_available && forecast">
                {{forecast.message}}
            </ng-container>
        </div>
    </div>
</form>